---
import { type CollectionEntry } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'
import { Icon } from 'astro-icon/components'
import Divider from './Divider.astro'
import { getTimeAgo } from '@/lib/time-ago.mjs'

type Props = HTMLAttributes<'article'> & {
  post: CollectionEntry<'blog'>
}

const { post, class: className, ...props } = Astro.props
---

<article
  class:list={['border-border flex flex-col gap-2 rounded-md border p-3', className]}
  {...props}
>
  <h3 class="font-semibold">
    <a href={`blog/${post.id}`} class="hover:text-primary transition-colors">
      {post.data.title}
    </a>
  </h3>

  <p class="text-muted-foreground line-clamp-2 h-full font-mono text-sm">
    {post.data.description}
  </p>
  <Divider />
  <footer class="border-border flex items-center justify-between text-xs">
    <span>{post.data.label ?? 'SAMPLE'}</span>

    <div class="flex items-center gap-1">
      <Icon name="hugeicons:clock-01" />
      {getTimeAgo(post.data.updatedDate ?? post.data.pubDate)}
    </div>
  </footer>
</article>
