---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'figure'> & {
  text?: string
}

const { class: className, text = '', ...props } = Astro.props
---

<figure
  role="separator"
  class:list={['flex items-center', text ? 'space-x-4' : 'space-x-0', className]}
  {...props}
>
  <hr class="text-border" />
  <span class="text-muted-foreground text-sm">{text}</span>
  <hr class="text-border" />
</figure>

<style>
  hr {
    @apply h-px flex-1;
  }
</style>
