@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url("/fonts/Rubik.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url("/fonts/RobotoMono.ttf") format("truetype");
}

@theme {
	--color-primary: oklch(70.487% 0.18672 47.604);
	--color-primary-50: oklch(92.356% 0.04522 57.493);
	--color-primary-100: oklch(89.526% 0.06193 57.367);
	--color-primary-200: oklch(84.144% 0.09654 56.275);
	--color-primary-300: oklch(79.112% 0.12987 54.397);
	--color-primary-400: oklch(74.51% 0.16108 51.973);
	--color-primary-500: oklch(70.487% 0.18672 47.604);
	--color-primary-600: oklch(60.979% 0.17085 45.611);
	--color-primary-700: oklch(49.022% 0.13426 46.673);
	--color-primary-800: oklch(36.298% 0.09494 48.816);
	--color-primary-900: oklch(22.158% 0.05268 54.981);
	--color-primary-950: oklch(14.602% 0.03107 73.213);

	--color-fill: var(--color-slate-50);
	--font-sans: 'Rubik', sans-serif;
	--font-mono: 'Roboto Mono', monospace;

}

@layer base {
	html {
		scroll-behavior: smooth;
		color: var(--color-zinc-900);
		background-color: var(--color-fill);
		@apply transition-colors;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	html.dark {
		--color-primary: oklch(75.764% 0.15904 55.934);
		--color-primary-50: oklch(98.042% 0.01266 63.925);
		--color-primary-100: oklch(95.124% 0.0288 60.769);
		--color-primary-200: oklch(89.883% 0.06265 61.413);
		--color-primary-300: oklch(84.965% 0.09736 60.397);
		--color-primary-400: oklch(80.077% 0.13013 58.404);
		--color-primary-500: oklch(75.764% 0.15904 55.934);
		--color-primary-600: oklch(70.59% 0.18949 48.53);
		--color-primary-700: oklch(58.842% 0.15566 49.35);
		--color-primary-800: oklch(46.48% 0.1199 50.793);
		--color-primary-900: oklch(33.057% 0.08205 52.82);
		--color-primary-950: oklch(25.744% 0.06132 56.09);

		--color-fill: var(--color-zinc-800);

		color: var(--color-slate-50);
	}
}

@utility prose {
	--tw-prose-body: var(--color-zinc-900);
	--tw-prose-headings: var(--color-primary);
	--tw-prose-bold: var(--color-primary);
	--tw-prose-quote-borders: var(--color-slate-300);
	--tw-prose-quotes: var(--color-muted-foreground);

	--tw-prose-invert-body: var(--color-slate-50);
	--tw-prose-invert-headings: var(--color-primary);
	--tw-prose-invert-bold: var(--color-primary);
	--tw-prose-invert-quote-borders: var(--color-slate-300);
	--tw-prose-invert-quotes: var(--color-muted-foreground);
  
	code {
	  &::before,
	  &::after {
		display : none ;
	  }
	  text-wrap : nowrap ;
	}
  
	blockquote {
	  font-weight : 400 ;
	}
}
